<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav ml-auto" *ngIf="!user">
      <li class="nav-item">
        <asl-google-signin-button> 
          (click)="signInWithGoogle()" class="nav-link">Sign in with google
          </asl-google-signin-button>
      </li>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="user">
    <span class="navbar-text">
     {{ user.email }}
    </span>	
      <li class="nav-item">
        <a class="nav-link" (click)="signOut()">Logout</a>
      </li>
    </div>	  
  </nav>
</div>
<router-outlet></router-outlet>
